[Unit]
Description=Agente responsável pela gerência da fila de tarefas.
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=60
ExecStart=mining_tasker.sh

[Install]
WantedBy=multi-user.target