[Unit]
Description=Agente responsável pela gerência da fila de tarefas.
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=orangepi
WorkingDirectory=/home/orangepi/MininTasker/
ExecStart=/home/orangepi/.rvm/wrappers/default/bundle exe ruby main.rb

[Install]
WantedBy=multi-user.target
